<!DOCTYPE html>
<html>
<head>
  <title>BigosGalleryBox</title>
  <%= stylesheet_link_tag    "bigos_gallery_box/application", :media => "all" %>
  <%= javascript_include_tag "bigos_gallery_box/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
